<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ titulo }}</title>
</head>
<body>
    <h1>{{ titulo }}</h1>
    <ul>
        {% for enlace in enlaces %}
        <li><a href="{{ enlace.url }}">{{ enlace.texto }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
